p {
    background-color: lightcoral;
}

li {
    border: 1px solid yellow;
    background-color: lightblue;
    color: brown;
}

.branches {
    font-size: 25px;
    margin: 2px solid;
    color: black;
}